.main_div{
    margin-top:20px;
    padding-top:20px;
    position: relative;
    padding-bottom:0px;
    left: 0px;
    right: 0px;
    margin-bottom: 0px;
   width:100%;
   font-size:15px
    
}
.footLink:hover{
    font-size: 19px
}
.reg{
    font-size: 18px;
    font-weight: bold;
    color:black !important;
}
