/* #main{
    background:#14986d;
} 
#sty{
    display: inline-block;
        width: auto;
        height: 32px;
         margin-left: 15px;
        margin-top: 0px; 
        margin: auto auto 30px auto ;
        
        text-decoration: none;
        background:#113133 ;
        text-align: center;
        
        font-weight: 500;
       
        font-size: 15px;
        color: rgb(255, 255, 255);
        -webkit-box-shadow: 0 0 1px 1px #538373;
        box-shadow: 0 0 2px 2px #358868;
        border-radius: 4px;
        cursor: pointer;
}*/
#maindiv_style{
    background-color:#003566;
    font-family: "Signika";
    color:lightblue
    
}
/* #img_style{
    height: 100px;
}
 */
 #hsty{
     text-align: center;
 }
 /* #bimg{
     background-image: url("C2.jpg");
     opacity: 0.4"
 } */
 /* #modsty{
    background: #113133;
 } */