
.introPara{
    line-height: 1.5em;
    font-size: 15px;
}

.imgAnim{
    animation-duration: 4s ;
}
.img1Pos{
    position:relative;
    right:-40%;
    top:-10%;
    animation-duration: 4s ;
   
}
 .img2Pos{
    position:relative;
    right:0%;
    top:-20%;
    height:30%;
    z-index: 1;  
    animation-duration: 4s ;   
       
}
.list{
    list-style:none;
    padding-left:0px;
    float: left;
}